.direccion {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 100vh;
    @media (max-width: 422px) {
        height: 100%;
    }
    .direccion_logos {
        @media (max-width: 422px) {
            figure {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
        img {
            width: 15em;
            margin: 0.5em 0.5em;
        }
        @media (max-width: 422px) {
            img {
                width: 12em;
                padding: 1em 0;
            }
        }
    }
    .direccion_texto {
        margin: 3em 0 0 0;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            text-align: center;
        }
    }
    .direccion_iconos {
        margin: 2em 0 0 0;
        a {
            margin: 0 0.5em;
        }
        img {
            width: 2.5em;
        }
        img:hover {
            width: 2.8em;
            transition: width 0.5s;
        }
    }
}